[Desktop Entry]
Name=Install Lingmo OS
GenericName=Install
Comment=Install Lingmo OS to your hard disk
Categories=System;Utility;X-Red-Hat-Base;X-Fedora;GNOME;GTK;
Exec=liveinst
Terminal=false
Type=Application
# TRANSLATORS: Icon name, probably should not be translated
Icon=org.fedoraproject.AnacondaInstaller
StartupNotify=true
StartupWMClass=liveinst
NoDisplay=true
