[Desktop Entry]
Name=Welcome to Lingmo OS
Icon=lingmo-logo-icon
Exec=/usr/share/anaconda/gnome/fedora-welcome
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
X-GNOME-Autostart-enabled=true
